body {line-height:1;font-size:62.5%;font-family: Arial, Helvetica, Verdana, sans-serif;color:#575757; background: #f6fbff; }
h1, h2, h3, h4, h5, h6 { color:#0078b0; }
h2 {font-weight:bold;font-size:2.719em;}
h3 {font-size:2.2em;}
p {font-size:16px;margin-bottom:16px;}
a {color: #f6ae19 }

#container_navigation { min-width: 980px;  }
#navigation { height: 62px; text-align: center; background: url(../images/bg_navigation.jpg) top center no-repeat; }
#navigation ul.menu { margin: 0px; height: 25px; padding: 25px 0px 0px 0px;  }
#navigation ul.menu li { display: inline; margin: 0px 13px; font-size: 14px; text-transform: uppercase; color: #0078b0 !important;}

#container_header_featured_content { background: #E0F0FE url(../images/bg_container_header.jpg) top center repeat-x; }
#container_pre_header_featured_content { background: url(../images/bg_pre_header.jpg) transparent top center no-repeat; }
#container_pre_header_featured_content.interna { background: url(../images/bg_pre_header_interna.jpg) transparent top center no-repeat; }
#header { text-align: center; height: 235px; background: #E0F0FE url(../images/bg_header.jpg) top center repeat-x; }
#logo h1 a { margin-left: -15px; display: block; width: 330px; height: 215px; background: url(../images/logo_xiv_congresso_ortopedia.png) no-repeat center top; }
#featured { height: 318px; }
#featured img.correction { margin-left: -10px; }
#content { min-height: 280px; padding-bottom: 20px;}
#content h2 { margin-top: 30px; margin-bottom: 10px; }
#content h3 { color: #f6b23e; }
#content li a.mail { color: #ff9c00; }
#content li span { color: #575757; list-style-type: none; font-size: 13px;}
#content ul.menu li a { font-size:14px; color: #575757; }
#content a:link { color: #333333; text-decoration: none; }
#content a:visited { color: #999999; }
#content a:hover, a:focus { color: #000000; text-decoration: underline; }
#content * > .margin_aligned { margin-left: -10px; }
#new_registration .chamada_inscricoes { margin-top: 30px; margin-left: -20px; display: block; width: 330px; height: 230px; background: url(../images/chamada_inscricao.gif) no-repeat center top; }
#date_where .informacoes { color: #ff9c00;  margin-top: 100px; margin-left: -10px; display: block; width: 300px; height: 50px; background: url(../images/data_local.gif) no-repeat center top; }
#time_remain .informacoes { color: #ff9c00;  margin-top: 100px; display: block; }
span.remain_days_flash { color: #FFCC33; font-size: 36px; line-height: 0.5em;}
span.remain_text_flash { color: #F99D00; font-size: 22px;  line-height: 0.5em; }

#footer { height: 210px; padding-top: 30px; text-align: center; background: #ffffff; }
#footer * h3 { margin-bottom: 5px; font-size: 15px; color: #0078b0; text-align: center; font-weight: normal; }
#promocao a.sbot { padding-left: 20px; display: block; width: 110px; height: 120px; background: url(../images/sbot.jpg) no-repeat center top; }
#realizacao a.sbotrn { padding-left: 5px; display: block; width: 130px; height: 120px; background: url(../images/sbotrn.jpg) no-repeat center top; }
#apoio a.prefeitura_natal { padding-left: 65px; float: left; display: block; width: 125px; height: 120px; background: url(../images/prefeitura_natal.jpg) no-repeat center top; }
#apoio a.governo_rn { float: left; display: block; width: 160px; height: 120px; background: url(../images/governo_rn.jpg) no-repeat center top; }
#organizacao a.ideias { padding-left: 40px; display: block; width: 180px; height: 120px; background: url(../images/ideias_eventos.jpg) no-repeat center top; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

/* Pages */
.interna #content p, .interna #content strong { font-size: 13px !important; line-height: 16px !important; }
.interna #content ol li { font-size: 13px !important; }
.interna #content h2, .interna #content h3 { margin-bottom:10px !important; }
.interna #content ul { margin-bottom: 20px; }
.interna #content ul li {list-style:inside disc;color:#fac519;line-height:16px;font-size:12px;}
.interna #content ul li strong {color:#fac519}
.interna #content li p {color:#575757; font-size:12px;}
.interna a { color: #f89c00; }
.interna #content a #local img { padding-right: 20px; }

/* Tabelas */
#tabela{ font-size: 12px; width: 700px; text-align: left; border-collapse: collapse; }
#tabela th{ font-size: 13px; font-weight: normal; padding: 8px; background: #ffe7b8;
            border-top: 2px solid #fff; border-bottom: 1px solid #fff; color: #575757; }
#tabela td{ padding: 8px; border-bottom: 1px solid #fff; color: #575757; border-top: 1px solid #fff; background: #fff5e4 }
#tabela tbody tr:hover td{ background: #fcedd3; color: #575757;} 
#tabela td.dia { text-align: center; font-weight: bold; }

/* Contato */
#contato { width: 50%; margin: 0 auto; }
#contato fieldset { border: none; }
#contato fieldset label { display: block; color: #0078b0; padding: 6px 0 3px 6px; font-size: 16px; }
#contato fieldset .text { width: 400px; padding: 5px; background: #fac519; border: 0px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
#contato fieldset textarea { height: 200px; }
#contato #enviar { background: #0078b0; color: #ffffff; border: 1px solid #0078b0; font-size: 20px; font-weight: bold; cursor: pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
