---
layout: default 
title: Exposição 
---
%h1
  Exposição
%p
  %a(href="/images/planta.jpg")
    %img(title="Planta Baixa - Centro de Convenções Natal/RN" src="images/planta.jpg" alt="Planta Baixa XVI Congresso de Ortopedia e Traumatologia" height="537px")
%p Clique na imagem para ampliar
