---
layout: default 
title: Programação
---
%h1 Programação Científica - Preliminar

%table#tabela-reservas
  %tr#topo-tabela
    %td HORÁRIOS
    %td(colspan="2") 22/04 QUINTA-FEIRA
  %tr#tabela-linhas
    %td.col-a 08:00 às 10:05
    %td.half Mini-Curso 01
    %td.half Mini-Curso 02
  %tr#tabela-linhas
    %td.col-a 10:00 às 10:15
    %td(colspan="2")
      %strong INTERVALO
  %tr#tabela-linhas
    %td.col-a 10:15 às 12:15
    %td.half Mini-Curso 01
    %td.half Mini-Curso 02
  %tr#tabela-linhas
    %td.col-a 12:15 às 14:00
    %td(colspan="2")
      %strong ALMOÇO
  %tr#tabela-linhas
    %td.col-a 14:00 às 16:00
    %td.half Mini-Curso 03
    %td.half Mini-Curso 04
  %tr#tabela-linhas
    %td.col-a 16:00 às 16:15
    %td(colspan="2")
      %strong INTERVALO
  %tr#tabela-linhas
    %td.col-a 16:15 às 17:30
    %td.half Mini-Curso 03
    %td.half Mini-Curso 04
  %tr#tabela-linhas
    %td.col-a às 17:30
    %td(colspan="2")
      %strong ENCERRAMENTO DAS ATIVIDADES
  %tr#tabela-linhas
    %td.col-a 19:00 às 20:00
    %td(colspan="2") Abertura do Evento
  %tr#tabela-linhas
    %td.col-a 20:00 às 21:00
    %td(colspan="2") Conferência
  %tr#tabela-linhas
    %td.col-a às 21:00
    %td(colspan="2") Coquetel

%table#tabela-reservas
  %tr#topo-tabela
    %td HORÁRIOS
    %td 23/04 SEXTA-FEIRA
  %tr#tabela-linhas
    %td.col-a 08:00 às 08:30
    %td Conferência 01
  %tr#tabela-linhas
    %td.col-a 08:30 às 09:15
    %td Mesa Redonda 01
  %tr#tabela-linhas
    %td.col-a 09:15 às 10:00
    %td Mesa Redonda 02
  %tr#tabela-linhas
    %td.col-a 10:00 às 10:15
    %td
      %strong INTERVALO
  %tr#tabela-linhas
    %td.col-a 10:15 às 10:45
    %td Conferência 02
  %tr#tabela-linhas
    %td.col-a 10:45 às 11:30
    %td Mesa Redonda 03
  %tr#tabela-linhas
    %td.col-a 11:30 às 12:15
    %td Mesa Redonda 04
  %tr#tabela-linhas
    %td.col-a 12:15 às 14:00
    %td
      %strong ALMOÇO 
  %tr#tabela-linhas
    %td.col-a 14:00 às 14:30
    %td Conferência 03
  %tr#tabela-linhas
    %td.col-a 14:30 às 15:15
    %td Mesa Redonda 05
  %tr#tabela-linhas
    %td.col-a 15:15 às 16:00
    %td Mesa Redonda 06
  %tr#tabela-linhas
    %td.col-a 16:00 às 16:15
    %td
      %strong INTERVALO
  %tr#tabela-linhas
    %td.col-a 16:15 às 16:45
    %td Conferência 04
  %tr#tabela-linhas
    %td.col-a 16:45 às 17:30
    %td Mesa Redonda 07
  %tr#tabela-linhas
    %td.col-a às 17:30
    %td
      %strong ENCERRAMENTO DAS ATIVIDADES
%table#tabela-reservas
  %tr#topo-tabela
    %td HORÁRIOS
    %td 24/04 SÁBADO
  %tr#tabela-linhas
    %td.col-a 08:00 às 08:30
    %td Conferência 05
  %tr#tabela-linhas
    %td.col-a 08:30 às 09:15
    %td Mesa Redonda 08
  %tr#tabela-linhas
    %td.col-a 09:15 às 10:00
    %td Mesa Redonda 09
  %tr#tabela-linhas
    %td.col-a 10:00 às 10:15
    %td
      %strong INTERVALO
  %tr#tabela-linhas
    %td.col-a 10:15 às 10:45
    %td Mesa Redonda 10
  %tr#tabela-linhas
    %td.col-a 10:45 às 11:30
    %td Mesa Redonda 11
  %tr#tabela-linhas
    %td.col-a 11:30 às 12:15
    %td
      %strong ENCERRAMENTO DO EVENTO E ENTREGA DE CERTIFICADOS
%h3
  %u Convidados Confirmados
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira de BA", :src => "images/flags/BA.gif", :alt => "Bandeira de BA"}
      %span Adalberto Visco /BA
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Anderson Costa /RJ
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span Claúdio Santili /SP
    %li.t.s
      %img{ :title => "Bandeira do SP", :src => "images/flags/SP.gif", :alt => "Bandeira do SP"}
      %span Douglas Narazaki /SP
    %li.t.s
      %img{ :title => "Bandeira do PR", :src => "images/flags/PR.gif", :alt => "Bandeira do PR"}
      %span Edilson Tile /PR
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span Edimilson Takata /SP
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Geraldo Mota /RJ
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Hugo Cobra /RJ
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span Ivan Chakkour /SP
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span José Luís Runco /RJ
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span Marcelo Mercadante /SP
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Paulo Barbosa /RJ
    %li.t.s
      %img{ :title => "Bandeira de MG", :src => "images/flags/MG.gif", :alt => "Bandeira de MG"}
      %span Paulo Handall /MG
    %li.t.s
      %img{ :title => "Bandeira de PE", :src => "images/flags/PE.gif", :alt => "Bandeira de PE"}
      %span Romeu Krause /PE
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Sérgio Delmonte /RJ
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span William Teixeira
