---
layout: default
title: Parceiros
---

%h1 Promoção e Realização

%h3 Promoção

%ul
  %li
    %span Sociedade Brasileira de Ortopedia e Traumatologia - SBOT
    %p
      %a(href = "http://www.sbot.org.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/sbot.png" alt = "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT" height = "71px")

%h3 Realização

%ul
  %li
    %span Sociedade Brasileira de Ortopedia e Traumatologia - SBOT - RN
    %p
      %a(href = "http://www.sbot.org.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/sbotrn logo.jpg" alt = "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT/RN" height = "71px")

%h1 Organização

%ul
  %li
    %span Idéias Eventos
    %p
      %a(href = "http://www.ideiaseventos.com.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-ideias.jpg" alt = "Idéias Eventos" height = "93px")

%h1 Patrocinadores

%ul
  %li
    %span Unimed - Natal
    %p
      %a(href = "http://www.unimed.com.br/")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-unimed.jpg" alt = "Unimed - Natal" height = "89px") 
  %li
    %span Ecomed
    %p
      %a(href = "http://www.ecomed.com.br/")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-ecomed.gif" alt = "ecomed" width = "200px") 
  %li
    %span Biomecanica
    %p
      %a(href = "http://www.biomecanica.com.br/")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-biomecanica.gif" alt = "Biomecanica" width = "200px") 
  %li
    %span Opera Materiais Cirúrgicos
    %p
      %img( style="margin-top: 10px;" src = "images/patrocinio/logo-opera.gif" alt = "Opera Materiais Cirúrgicos" width = "200px") 
  %li
    %span Ortoplan
    %p
      %a(href = "http://www.ortoplan.com.br/")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-ortoplan.gif" alt = "Ortoplan" width = "200px") 
  %li
    %span Medical Shop
    %p
      %a(href = "http://www.medicalshopdf.com.br/")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-medicalshop.gif" alt = "Medical Shop" width = "200px") 
