---
layout: default 
title: Programação
---
%h1 Programação Científica - Preliminar

%table#tabela-reservas
  %tr#topo-tabela
    %td HORÁRIOS
    %td 22/04 QUINTA-FEIRA
  %tr#tabela-linhas
    %td.col-a 07:00 às 8:00
    %td Credenciamento
  %tr#tabela-linhas
    %td.col-a 08:00 às 09:40
    %td Curso Trauma Ortopédico
  %tr#tabela-linhas
    %td.col-a 09:40 às 10:20
    %td Intervalo
  %tr#tabela-linhas
    %td.col-a 10:20 às 12:20
    %td Curso Membro Superior
  %tr#tabela-linhas
    %td.col-a 12:20 às 14:20
    %td Intervalo
  %tr#tabela-linhas
    %td.col-a 14:20 às 16:00
    %td Curso Membro Inferior
  %tr#tabela-linhas
    %td.col-a 16:00 às 16:20
    %td Intervalo
  %tr#tabela-linhas
    %td.col-a 16:20 às 18:20
    %td Curso Geral
  %tr#tabela-linhas
    %td.col-a 18:20 às 19:00
    %td Solenidade de Abertura
  %tr#tabela-linhas
    %td.col-a 19:00 às 20:00
    %td Conferência Artroplastia do Quadril: Dr. John Charith - Londres/UK
  %tr#tabela-linhas
    %td.col-a 20:00 às 21:00
    %td Apresentação Cultural e Coquetel
  %tr#topo-tabela
    %td HORÁRIOS
    %td 23/04 SEXTA-FEIRA
  %tr#tabela-linhas
    %td.col-a 08:00 às 08:50
    %td Mesa Redonda Trauma Ortopédico
  %tr#tabela-linhas
    %td.col-a 08:50 às 09:40
    %td Mesa Redonda Cirúrgia do Ombro
  %tr#tabela-linhas
    %td.col-a 09:40 às 10:20
    %td Visita aos Estandes Simpósio Indústria Farmacêutica
  %tr#tabela-linhas
    %td.col-a 10:20 às 10:40
    %td Conferência Mundo Corporativo para Médicos
  %tr#tabela-linhas
    %td.col-a 10:40 às 11:30
    %td Mesa Redonda Cirurgia de Mão
  %tr#tabela-linhas
    %td.col-a 11:30 às 12:20
    %td Mesa Redonda Coluna
  %tr#tabela-linhas
    %td.col-a 12:20 às 14:20
    %td Visitas aos Estandes Simpósio Indústria Farmacêutica
  %tr#tabela-linhas
    %td.col-a 14:20 às 15:10
    %td Mesa Redonda Quadril
  %tr#tabela-linhas
    %td.col-a 15:10 às 16:00
    %td Mesa Redonda Ortopedia Pediátrica
  %tr#tabela-linhas
    %td.col-a 16:00 às 16:20
    %td Visitas aos Estandes Simpósio Indústria Farmacêutica
  %tr#tabela-linhas
    %td.col-a 16:20 às 16:40
    %td Conferência Marketing Médico
  %tr#tabela-linhas
    %td.col-a 16:40 às 17:30
    %td Mesa Redonda Pé e Tornozelo
  %tr#tabela-linhas
    %td.col-a 17:30 às 18:20
    %td Mesa Redonda Osteoartrose do Joelho
  %tr#topo-tabela
    %td HORÁRIOS
    %td 24/04 SÁBADO
  %tr#tabela-linhas
    %td.col-a 08:00 às 08:50
    %td Mesa Redonda Traumatologia Desportiva
  %tr#tabela-linhas
    %td.col-a 08:50 às 09:40
    %td Mesa Redonda Joelho
  %tr#tabela-linhas
    %td.col-a 09:40 às 10:20
    %td Visita aos Estandes Simpósio Indústria Farmacêutica
  %tr#tabela-linhas
    %td.col-a 10:20 às 10:40
    %td Conferência Defesa Profissional
  %tr#tabela-linhas
    %td.col-a 10:40 às 11:30
    %td Mesa Redonda Doença Osteometabólica
  %tr#tabela-linhas
    %td.col-a 11:30 às 12:20
    %td Mesa Redonda Artroplastia do Quadril
  %tr#tabela-linhas
    %td.col-a 12:20 às 14:20
    %td Encerramento do Evento e Entrega de Certificados
%h3
  %u Convidados Confirmados
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira do SP", :src => "images/states/SP.gif", :alt => "Bandeira de SP"}
      %span Marcelo Mercadante do Amaral /SP
    %li.t.s
      %img{ :title => "Bandeira do PE", :src => "images/states/PE.gif", :alt => "Bandeira do PE"}
      %span Romeu Krausse /PE
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/states/SP.gif", :alt => "Bandeira de SP"}
      %span Claúdio Santili /SP
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/states/RJ.gif", :alt => "Bandeira do RJ"}
      %span Hugo Cobra /RJ
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/states/RJ.gif", :alt => "Bandeira do RJ"}
      %span Geraldo Mota /RJ
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/states/RJ.gif", :alt => "Bandeira do RJ"}
      %span Ney Coutinho Percegueira /RJ

