---
layout: default 
title: Trabalhos Científicos 
---
%h1 Trabalhos Científicos
%h5 NORMAS PARA OS TRABALHOS CIENTÍFICOS
%ul.menu
  %li
    %a{ :href => '#inscricao'}
      Inscrição
  %li
    %a{ :href => '#normas'}
      Normas para o Envio do Trabalho
  %li
    %a{ :href => '#resumo'}
      Elaboração do Resumo
  %li
    %a{ :href => '#resultado'}
      Resultado
  %li
    %a{ :href => '#apresentacao'}
      Apresentação dos Trabalhos
  %li
    %a{ :href => '#apresentacao'}
      Certificação dos Trabalhos
%hr

%h5{ :id => "inscricao"}
  %u 1. INSCRIÇÃO
%ul   
  %li.t
    %p
      %span
        %strong 1.1
        As inscrições dos trabalhos científicos serão feitas somente on-line.
  %li.t
    %p
      %span
        %strong 1.2
        Os resumos deverão ser enviados até o dia até
        %strong  26 de Março de 2010.
  %li.t
    %p
      %span
        %strong 1.3
        Não serão aceitos resumos após o vencimento do prazo;
  %li.t
    %p
      %span
        %strong 1.4
        O envio dos trabalhos só será possível após a confirmação do pagamento da inscrição, que requer um prazo de 3 (três) dias úteis para ser compensado.
  %li.t
    %p
      %span
        %strong 1.5
        Será retornado um e-mail, acusando o recebimento do resumo, até cinco dias úteis após o seu recebimento. Não recebendo o retorno do e-mail nesse prazo, o autor deverá imediatamente entrar em contato com a Secretaria Executiva do evento;
  %li.t
    %p
      %span
        %strong 1.6
        Após a revisão do resumo expandido, a comissão técnico-científica informará ao responsável pelo envio do mesmo, até 05 de abril de 2010, sobre a aceitação ou não do trabalho enviado;

%h5{ :id => "normas"}
  %u 2. NORMAS
%ul
  %li.t
    %p
      %span
        %strong 2.1
        Serão aceitos, para apresentação no do
        %strong XIV Congresso Norte Nordeste de Ortopedia,
        resumos expandidos inéditos, oriundos de trabalhos realizados nas diferentes áreas de ortopedia e traumatologia.
  %li.t
    %p
      %span
        %strong 2.2
        Serão aceito somente (01) resumo expandidos por autor principal, não havendo, porém, limitações quanto à participação como co-autor, desde que formalmente inscritos no Congresso.  
  %li.t
    %p
      %span
        %strong 2.3
        Não serão aceitas descrições de projetos, intenção de trabalho ou revisões bibliográficas;
  %li.t
    %p
      %span 
        %strong 2.4
        A qualidade do texto (gramática, ortografia e digitação), bem como as opiniões e conceitos emitidos nos resumos expandidos são de exclusiva responsabilidade do(s) autor(es). 
  %li.t
    %p
      %span
        %strong 2.5
        Serão consideradas também a qualidade técnica, a clareza, a relevância e a pertinência dos mesmos ao evento.
  %li.t
    %p
      %span
        %strong 2.6
        Os resumos serão publicados na forma em que foi enviada pelos autores; 
  %li.t
    %p
      %span
        %strong 2.7
        O texto deverá ser organizado no formato para folha de papel A4 (210 x 297 mm), com margens superior e esquerda de 30 mm e inferior e direita com 20 mm;
  %li.t
    %p
      %span
        %strong 2.8
        O texto deverá ser escrito na fonte Arial, tamanho 12 para os títulos, 11 para o texto, com espaçamento de 1,5 entre linhas; 
  %li.t
    %p
      %span
        %strong 2.9
        O título do trabalho deverá ser escrito em letras maiúsculas, centralizado e em negrito. Deve-se deixar um espaço e acrescentar, em seguida, por extenso, em letras minúsculas, o(s) nome(s) completo(s) do(s) componentes(s) da equipe de trabalho. As qualificações tais como escolaridade, instituição de vinculação, endereço e correio eletrônico, deverão ser apresentados, imediatamente abaixo dos autores, com um espaço entre os autores e as mesmas. Utilizar chamada numérica crescente sobrescrita para indicação das informações dos respectivos autores. 
  %li.t
    %p
      %span
        %strong 2.10
        Os originais do trabalho (resumos expandidos) conterão, no máximo quatro (4) e, no mínimo duas (2) páginas, obedecendo à seqüência: Título, Autor(es), Informações dos Autores, Introdução, Material e Métodos, Resultados e Discussão, Conclusões, Agradecimentos e Referências. Esses itens deverão ser gravados em negrito e centralizados, com os textos justificados e separados por um espaço; 
  %li.t
    %p
      %span
        %strong 2.11
        Os nomes científicos serão escritos em “itálico”. Quando presente no título o nome científico deverá ser digitado, também em itálico, em letras minúsculas, só com a primeira letra maiúscula. Após mencionados pela primeira vez no texto, os nomes genéricos das espécies serão abreviados com um ponto após a primeira letra do gênero;
  %li.t
    %p
      %span
        %strong 2.12
        As figuras (desenhos, ilustrações e fotos) serão inseridas, logo após sua menção no texto e não devem ultrapassar a margem da página.  As fotografias deverão ser em alta resolução, no mínimo 300 dpi, As legendas das figuras e tabelas deverão seguir as normas da ABNT, ser auto-explicativas e concisas. Nas tabelas deverão ser colocadas acima destas e nas figuras e fotos abaixo das mesmas e numeradas em ordem crescente.
  %li.t
    %p
      %span
        %strong 2.13
        As Referências devem ser normalizadas de acordo com as
        %strong Normas da ABNT – NBR 6023:2002,
        listadas em ordem alfabética do sobrenome dos autores, sem numeração. Não devem ser usadas abreviações para títulos de revistas e periódicos;

%h5{ :id => "resumo"}
  %u 3. ELABORAÇÃO DO RESUMO
%ul
  %li.t
    %p
      %span
        %strong 3.1
        Os resumos dos trabalhos serão aceitos nas seguintes áreas de conhecimento: Casos Clínicos.
  %li.t
    %p
      %span
        %strong 3.2
        O autor deverá assinalar a área principal correspondente ao trabalho.  Cada trabalho deverá ser inscrito em uma única área.
  %li.t
    %p
      %span
        %strong 3.3
        O título do trabalho deverá ser escrito em letras maiúsculas, seguido do nome dos autores, departamento, Instituição e Estado onde o trabalho foi realizado.
  %li.t
    %p
      %span
        %strong 3.4
        O texto do resumo deverá ser descrito como tópicos obrigatórios: introdução/Objetivos, Material e Método, Resultados e Conclusão.  Usar negrito apenas nestas palavras.  Mencionar ao final a instituição responsável por financeiro (se houver).
        %br
        O texto integral, incluindo o título, autores, demais informações e espaços não deverão ultrapassar 2.500 caracteres. 

%h5{ :id => "resultado"}
  %u 4. RESULTADO
%ul
  %li.t
    %p
      %span
        %strong 4.1
        Os resumos serão submetidos à Comissão Científica
        %strong XIV Congresso Norte Nordeste de Ortopedia,
        que aprovará ou não a sua apresentação, na forma de pôster.
  %li.t
    %p
      %span
        %strong 4.2
        A carta de aceite ou recusa será enviada ao mesmo e-mail usado no cadastramento do sistema on-line de submissão de resumo até
        %strong 05/04/2010.

%h5{ :id => "apresentacao"}
  %u 5. APRESENTAÇÃO DOS TRABALHOS 
%ul
  %li.t
    %p
      %span
        %strong 5.1
        A confecção do Pôster deve ser feita somente após o aceite do trabalho; 
  %li.t
    %p
      %span
        %strong 5.2
        O pôster deverá contemplar os seguintes tópicos:
        %ul
          %li.s
            %span 1ª - Título do trabalho e nome dos autores, por extenso (Parte superior);
          %li.s
            %span 2ª - Introdução; 
          %li.s
            %span 3ª - Objetivos;
          %li.s
            %span 4ª - Metodologia;
          %li.s
            %span 5ª - Resultados Obtidos; 
          %li.s
            %span 6ª – Conclusão/Considerações finais.
  %li.t
    %p
      %span
        %strong 5.3
        Tamanho do Pôster: largura – 80 cm; altura – 120 cm;
  %li.t
    %p      
      %span
        %strong 5.4
        O texto do Pôster deve ser legível a uma distância de pelo menos 1,00 m;
  %li.t
    %p
      %span
        %strong 5.5
        Utilizar o mínimo de texto e o máximo de figuras, fotos, tabelas, gráficos e esquemas possíveis; 
  %li.t
    %p
      %span
        %strong 5.6
        Organizar as informações de modo que as idéias centrais do trabalho sejam facilmente apreendidas e utilizar todos os recursos disponíveis para o pôster despertar o interesse do público;
  %li.t
    %p
      %span
        %strong 5.7
        A fixação do pôster será feita pelos autores (es), 1 (uma) hora antes do início da apresentação e deverão ser retirados após o término do horário estipulado para a apresentação e entregada dos certificados. O(s) pôster deverá conter cordão para afixar no gancho do painel. O(s) autor (es) deverá(ao) trazer a fita crepe caso haja necessidade de fixação com a mesma;
  %li.t
    %p
      %span
        %strong 5.8
        O(s) autor (es) deverá (ao) apresentar de acordo com a data estipulada pela comissão científica. Não será permitida a troca da data de apresentação;
  %li.t
    %p
      %span
        %strong 5.9
        É obrigatório que: 
        %ul
          %li.ok
            %span Pelo menos um dos autores do trabalho permaneça junto ao pôster, durante todo o tempo da Sessão, para explicitar os resultados do seu estudo aos interessados;
          %li.ok
            %span O título do trabalho no pôster seja idêntico ao título do resumo submetido ao evento;
  %li.t
    %p
      %span
        %strong 5.10
        É proibida a apresentação: 
        %ul
          %li.ok
            %span Por terceiros;
          %li.ok
            %span Utilizando-se de equipamentos, microfones, aparelhos e instrumentos sonoros que interfiram na comunicação dos demais autores da sessão.

%h5{ :id => "certificacao"}
  %u 6. CERTIFICAÇÃO DOS TRABALHOS
%ul
  %li.t
    %p
      %span
        %strong 6.1
        Os trabalhos apresentados serão certificados
  %li.t
    %p
      %span
        %strong 6.2
        Será entregue 01 certificado por trabalho contendo o nome de todos os autores;
  %li.t
    %p
      %span
        %strong 6.3
        Os certificados serão entregues no local de apresentação do pôster
