---
layout: default
title: Parceiros
---

%h1 Promoção e Realização

%h3 Promoção

%ul
  %li
    %span Sociedade Brasileira de Ortopedia e Traumatologia - SBOT
    %p
      %a(href = "http://www.sbot.org.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/sbot.png" alt = "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT" height = "71px")

%h3 Realização

%ul
  %li
    %span Sociedade Brasileira de Ortopedia e Traumatologia - SBOT - RN
    %p
      %a(href = "http://www.sbot.org.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/sbotrn logo.jpg" alt = "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT/RN" height = "71px")

%h1 Organização

%ul
  %li
    %span Idéias Eventos
    %p
      %a(href = "http://www.ideiaseventos.com.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-ideias.jpg" alt = "Idéias Eventos" height = "93px")
