---
layout: default 
title: Exposição 
---
%h1
  Exposição
%p
  %a(href="/images/planta01.jpg")
    %img(title="Planta Baixa - Centro de Convenções Natal/RN" src="images/planta01.jpg" alt="Planta Baixa XVI Congresso de Ortopedia e Traumatologia" height="537px")
%p Clique na imagem para ampliar

#exposicao
  %p
    %img( src="images/stand-vendidos.jpg")
    %span Stands Vendidos 
#stands
  %p 01 Sanofi Aventis
  %p 02 Ortoplan
  %p 03 Hospmédica
  %p 04 Hypermarcas - Farmasa
  %p 05 Cooperativa Ortopedistas - Ortorio
  %p 06 MEDIFIX
