---
layout: default
title: Início
layout_type: start_page
---

%h2 O EVENTO

%p
  %strong XIV Congresso Norte Nordeste de Ortopedia de Traumatologia,
  que acontecerá em Natal/RN no período de 22 a 24 de abril de 2010, no Centro de Convenções de Natal, com um público estimado em 400 participantes, proporcionará atualizações e tendências em patologias, osteo-articulares, bem como novos tratamentos clínicos e cirúrgicos e no que diz respeito à área de ortopedia e traumatologia e saúde esportiva.
