---
layout: default 
title: Exposição 
---
%h1
  Exposição
%h3 Planta Baixa
%p
  %a(href = "images/planta.jpg")
    %img(title="Planta Baixa" src="images/planta.jpg" alt="Planta Baixa - XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia" height="450")
%p Clique na imagem para ampliar.
