---
layout: default 
title: Programação
---
%h1 Programação Científica - Preliminar

%table#tabela-reservas
  %tr#topo-tabela
    %td(colspan="4") 22/04 QUINTA-FEIRA
  %tr#tabela-linhas
    %td.col-a 07:30
    %td(colspan='3') Credencimento e entrega do material
  %tr#tabela-linhas
    %td.col-a(colspan=4) Manhã
  %tr#tabela-linhas
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório principal
    %td.col-a(rowspan=2) Horários
    %td.col-a Sala Muriu
  %tr#tabela-linhas
    %td.col-a Mini-Curso I - Pediátrica
    %td.col-a Mini-Curso II - Medicina desportiva
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.half
      As deformidades são todas iguais?<br/>
      Professor: Dr. Chang
    %td.col-a 08:00
    %td.half
      Ombro do Arremessador<br/>
      Professor: Dr. Adson Sá (CE)
  %tr#tabela-linhas
    %td.col-a 08:20
    %td.half
      Dismetrias<br/>
      Professor:
    %td.col-a 08:15
    %td.half
      Lesão do Aparelho extensor em atletas.<br/>
      Professor:
      //Dr. José Luiz Perez.(PE)
  %tr#tabela-linhas
    %td.col-a 08:40
    %td.half
      Uso de fixadores externos<br/>
      Professor: Dr. Marcelo Mercadante
    %td.col-a 08:30
    %td.half
      Lesão Muscular: Como eu trato?<br/>
      Professor: Dr. Jomar Souza.(BA)
  %tr#tabela-linhas
    %td.col-a 09:00
    %td.half
      Osteotomias<br/>
      Professor: Dr. Valmar Martins
    %td.col-a 08:45
    %td.half
      Lesões do quadril do atleta<br/>
      Professor: Dr. Raul Lins(PE)
  %tr#tabela-linhas
    %td.col-a 09:20
    %td.half
      Epifisiodeses definitivas<br/>
      Professor:
    %td.col-a 09:00
    %td.half
      Pubalgia<br/>
      Professor: Dr. Edilson Thiele.(PR)
  %tr#tabela-linhas
    %td.col-a(rowspan=3) 09:40
    %td.half(rowspan=3)
      Parafusos transfisários.<br/>
      Professor: Claudio Santili (SP)
    %td.col-a 09:15
    %td.half
      Reconstrução do LCA por navegação<br/>
      Professor: Dr. Anderson Costa (RJ)
  %tr#tabela-linhas
    %td.col-a 09:30
    %td.half
      Fratura por estresse<br/>
      Professor: Dr. Marcelo Rêgo (RN)
  %tr#tabela-linhas
    %td.col-a 09:45
    %td.half
      SD. Atrito da banda iliotibial.<br/>
      Professor: Marcos Girá (CE)
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a(colspan=3) Intervalo
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.half
      Epifisiodeses com utilização de placa<br/>
      Professor:
    %td.col-a 10:15
    %td.half
      Duplo túnel na reconstrução do LCA. Verdade absoluta?<br/>
      Professor: Dr. Romeu Krause
  %tr#tabela-linhas
    %td.col-a 10:40
    %td.half
      O que dizem as evidências!<br/>
      Professor:
    %td.col-a 10:30
    %td.half
      Reconstrução do LCA em atleta esqueleticamente imaturo<br>
      Professor:
  %tr#tabela-linhas
    %td.col-a(rowspan=4) 11:00
    %td.half(rowspan=4)
      Discussão de casos clinicos<br/>
    %td.col-a 10:45
    %td.half
      Existe prevenção da lesão do LCA no atleta?<br/>
      Professor: Dr. José Luís Runco
  %tr#tabela-linhas
    %td.col-a 11:00
    %td.half
      Tratamento das lesões condrais no atleta<br/>
      Professor: Dr. Valmir Martins
  %tr#tabela-linhas
    %td.col-a 11:15
    %td.half
      Cotovelo do tenista<br/>
      Professor: Dr. Marcelo Krause (PE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.half
      Luxação traumática da patela<br/>
      Professor: Dr. Elson Miranda.(RN)
  %tr#tabela-linhas
    %td 
    %td 
    %td.col-a 11:45
    %td.half
      Discussão
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a(colspan='3') Almoço
  %tr#tabela-linhas
    %td.col-a(colspan='4') Tarde
  %tr#tabela-linhas
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório principal
    %td.col-a(rowspan=2) Horários
    %td.col-a Sala Muriu
  %tr#tabela-linhas
    %td.col-a Mini-Curso III - Trauma Ortopédico
    %td.col-a Mini-Curso IV - Artroplastia
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.half
      Resposta Inflamatória Ao Trauma: Porque Fazer Controle De Danos No Trauma Ortopédico<br/>
      Professor: Dr. Armando Teixeira (BA)
    %td.col-a 14:00
    %td.half
      Prótese reversa de ombro<br>
      Professor: Dr. Geraldo Motta (RJ)
  %tr#tabela-linhas
    %td.col-a 14:20
    %td.half
      Fraturas ocasionadas por projetil de arma de fogo: existe necessidade de tratamento diferenciado?<br/>
      Professor: Dr. Paulo Barbosa (BA)
    %td.col-a 14:15
    %td.half
      Prótese de recapeamento do ombro<br>
      Professor: Dr. Adalberto Visco (BA)
  %tr#tabela-linhas
    %td.col-a 14:40
    %td.half
      Fraturas do anel pelvico: tratamento das lesões agudas<br/>
      Professor: Dr. Antonio Carlos Ferracini (BA)
    %td.col-a 14:30
    %td.half
      Debates
  %tr#tabela-linhas
    %td.col-a 15:00
    %td.half
      Fraturas dos maléolos do tornozelo: ao que atentar?<br/>
      Professor: Dr. Marcelo Mercadante (SP)
    %td.col-a 14:40
    %td.half
      Planejamento pré-op. Na A.T.Q.<br>
      Professor: Dr. Ronaldo Silva.(CE)
  %tr#tabela-linhas
    %td.col-a 15:20
    %td.half
      Fraturas do umero proximal: da osteossintese à artroplastia<br/>
      Professor: Dr. Geraldo Mota (RJ)
    %td.col-a 14:55
    %td.half
      A.T.Q. Em casos especiais.<br>
      Professor: Dr. Sérgio Delmonte (RJ)
  %tr#tabela-linhas
    %td.col-a 15:40
    %td.half
      Perguntas e discussões
    %td.col-a 15:10
    %td.half
      A.T.Q. O que há de novo?<br>
      Professor: Dr. Edmilson Takata (SP)
  %tr#tabela-linhas
    %td 
    %td 
    %td.col-a 15:35
    %td.half
      Debates
  %tr#tabela-linhas
    %td.col-a 16:00
    %td.col-a(colspan='3') Intervalo
  %tr#tabela-linhas
    %td.col-a 16:20
    %td.half
      Osteossintese interna definitiva nas fraturas expostas: quando fazer?<br>
      Professor: Dr. Wilson Vasconcelos (BA)
    %td.col-a 16:15
    %td.half
      Prótese unicompartimental.<br>
      Professor: Dr. Dilamar Pinto (PE)
  %tr#tabela-linhas
    %td.col-a 16:40
    %td.half
      Uso de placas volares bloqueadas  nas fraturas do terço distal do radio: quando indicar?<br>
      Professor: Dr. Paulo Randal (MG)
    %td.col-a 16:30
    %td.half
      Artrop de revisão com perda óssea<br>
      Professor: Dr. Hugo Cobra (RJ)
  %tr#tabela-linhas
    %td.col-a 17:00
    %td.half
      Haste intramedulares  fresar ou  não fresar: o que muda?<br>
      Professor: Dr. Paulo Barbosa (RJ)
    %td.col-a 16:45
    %td.half
      Artrop navegada de joelho<br>
      Professor: Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 17:20
    %td.half
      Existe espaço para placas no tratamento das fraturas diafisarias dos membros inferiores<br>
      Professor: Dr. Marcelo Mercadante (SP)
    %td.col-a 17:00
    %td.half
      A.T.J infectada. "Como eu trato"<br>
      Professor: Dr. Luís Carlos Peres
  %tr#tabela-linhas
    %td.col-a 17:40
    %td.half
      Complicações com o uso das hastes intramedulares<br>
      Professor: Dr. Mateus Azi (BA)
    %td.col-a(rowspan=2) 17:15
    %td.half(rowspan=2)
      Debates
  %tr#tabela-linhas
    %td.col-a 18:00
    %td.half
      Perguntas e discussões
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a(colspan='3') Encerramento das atividades do dia
  %tr#tabela-linhas
    %td.col-a(colspan='4') Noite
  %tr#tabela-linhas
    %td.col-a Horários
    %td.col-a(colspan='3') Auditório pricipal
  %tr#tabela-linhas
    %td.col-a 19:30
    %td.half(colspan='3') Solenidade de abertura
  %tr#tabela-linhas
    %td.col-a 20:30
    %td.half(colspan='3')
      Conferência de abertura: Novo código de ética médica.<br/>
      Dr. Roberto D'ávila(presidente do CFM) à confirmar
  %tr#tabela-linhas
    %td.col-a 21:30
    %td.half(colspan='3') Coquetel de abertura

%table#tabela-reservas
  %tr#topo-tabela
    %td(colspan=2) 23/04 SEXTA-FEIRA
  %tr#tabela-linhas
    %td.col-a(colspan='2') Auditório Principal
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.half Conferência: Gonartrose no Adulto Jovem: Opções de tratamento.
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.half Conferência: Aspectos Atuais na Reconstrução do Canto Póstero-Lateral do Joelho.
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.half Mesa redonda moderna I:
  %tr#tabela-linhas
    %td.col-a 09:15
    %td.half Mesa redonda moderna II: Artroplastia do joelho
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.half Conferência: Lombalgias: Diagnóstico e abordagem ambulatorial
  %tr#tabela-linhas
    %td.col-a 10:30
    %td.half Conferência: Traumatismos da Coluna Vertebral: Abordagem Inicial
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.half Mesa redonda moderna III: Escoliose
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.half Mesa redonda moderna IV: Hérnias discais e Estenoses degenerativas
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a Almoço
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.half Conferência: Atendimento Inicial à mão traumatizada e reimplantes
  %tr#tabela-linhas
    %td.col-a 14:15
    %td.half Conferência: Aplicação da ressonância magnética nas doenças do punho e da mão
  %tr#tabela-linhas
    %td.col-a 14:30
    %td.half Mesa redonda moderna V: Traumatismos da mão
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.half Mesa redonda moderna VI: Patologias não-traumáticas da mão
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.half
      Conferência : Placas bloqueadas:  indicações e cuidados<br/>
      Dr. Armando Teixeira (BA)
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.half
      Conferência: Conversão de fixadores externos para osteossinteses internas: quando fazer?<br/>
      Dr. Marcelo Mercadante (SP)
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.half
      Mesa redonda moderna VII: Trauma de membros inferiores<br/>
      Moderador: Dr. Marcelo Mercadante (SP)<br/>
      Debatedores:<br/>
      Dr. Armando Texeira (BA)<br/>
      //Dr. Humberto Lima (BA)<br/>
      Dr. Alexandre Braz (RN)<br/>
      Dr. Antonio Carlo Ferracini (BA)
  %tr#tabela-linhas
    %td.col-a 17:30
    %td.half
      Terapia de ondas por choque<br/>
      Dr. José Eid (SP)<br/>
      Dr. Elson Miranda (RN)
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a Encerramento das atividades do dia

%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan='2') 24/04 SÁBADO
  %tr#tabela-linhas
    %td.col-a(rowspan=2) HORÁRIOS
    %td.col-a Manhã
  %tr#tabela-linhas
    %td.col-a Auditório principal
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.half Conferência: Luxação recidivante do ombro no atleta.
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.half Conferência: Luxações inveteradas do ombro: Como abordar?
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.half Mesa redonda Moderna VIII: Trauma do Ombro
  %tr#tabela-linhas
    %td.col-a 09:15
    %td.half Mesa redonda  Moderna  IX: Artroscopia do Ombro
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.half Conferência: Uso do PRP na traumatologia desportiva.
  %tr#tabela-linhas
    %td.col-a 10:30
    %td.half Conferência: Aspectos atuais na reconstrução do LCA
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.half Mesa redonda Moderna X: Lesões do joelho
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.half Mesa redonda Moderna XI: Lesões diversas do atleta.
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a Almoço
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.half Conferência: Artroplastia total do quadril infectada: como eu trato?
  %tr#tabela-linhas
    %td.col-a 14:15
    %td.half Conferência: Artroplastia total de revisão do quadril: Defeitos acetabulares e femorais
  %tr#tabela-linhas
    %td.col-a 14:30
    %td.half Mesa redonda Moderna XII: Trauma do quadril e pelve.
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.half Mesa redonda Moderna XIII: Artroplastias primárias e revisão.
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.half Conferência: Epifisiólise
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.half Conferência: Fraturas diafisárias do fêmur
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.half Mesa redonda moderna XIV: Trauma pediátrico
  %tr#tabela-linhas
    %td.col-a 17:30
    %td.half Conferência: Defesa profissional
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a Encerramento das atividades do evento

%h3{ :id => "convidados"}
  %u Convidados Confirmados
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira de BA", :src => "images/flags/BA.gif", :alt => "Bandeira de BA"}
      %span Dr. Adalberto Visco /BA
    %li.t.s
      %img{ :title => "Bandeira de CE", :src => "images/flags/CE.gif", :alt => "Bandeira de CE"}
      %span Dr. Adson Sá /CE
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Dr. Anderson Antonio da Costa /RJ
    %li.t.s
      %img{ :title => "Bandeira do BA", :src => "images/flags/BA.gif", :alt => "Bandeira do BA"}
      %span Dr. Antonio Marcos Ferracini /BA
    %li.t.s
      %img{ :title => "Bandeira do BA", :src => "images/flags/BA.gif", :alt => "Bandeira do BA"}
      %span Dr. Armando Teixeira /BA
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span Dr. Claúdio Santili /SP
    %li.t.s
      %img{ :title => "Bandeira do PE", :src => "images/flags/PE.gif", :alt => "Bandeira do PE"}
      %span Dr. Dilamar Pinto /PE
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/flags/RN.gif", :alt => "Bandeira do RN"}
      %span Dr. Elson Miranda /RN
    %li.t.s
      %img{ :title => "Bandeira do PR", :src => "images/flags/PR.gif", :alt => "Bandeira do PR"}
      %span Dr. Edilson Thiele /PR
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span Dr. Edimilson Takata /SP
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Dr. Geraldo Motta /RJ
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Dr. Hugo Cobra /RJ
    //%li.t.s
    //  %img{ :title => "Bandeira de BA", :src => "images/flags/BA.gif", :alt => "Bandeira de BA"}
    //  %span Dr. Humberto Lima /BA
    %li.t.s
      %img{ :title => "Bandeira do SP", :src => "images/flags/SP.gif", :alt => "Bandeira do SP"}
      %span Dr. José Eid /SP
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Dr. José Luís Runco /RJ
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Dr. José Luís Perez /RJ
    %li.t.s
      %img{ :title => "Bandeira de SP", :src => "images/flags/SP.gif", :alt => "Bandeira de SP"}
      %span Dr. Marcelo Mercadante /SP
    %li.t.s
      %img{ :title => "Bandeira de PE", :src => "images/flags/PE.gif", :alt => "Bandeira de PE"}
      %span Dr. Marcelo Krause /PE
    %li.t.s
      %img{ :title => "Bandeira de BA", :src => "images/flags/BA.gif", :alt => "Bandeira de BA"}
      %span Dr. Matheus Lemos Azi /BA
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Dr. Paulo Barbosa /RJ
    %li.t.s
      %img{ :title => "Bandeira de MG", :src => "images/flags/MG.gif", :alt => "Bandeira de MG"}
      %span Dr. Paulo Randall /MG
    %li.t.s
      %img{ :title => "Bandeira de DF", :src => "images/flags/DF.gif", :alt => "Bandeira de DF"}
      %span Dr. Roberto D'ávilla /DF
    %li.t.s
      %img{ :title => "Bandeira de PE", :src => "images/flags/PE.gif", :alt => "Bandeira de PE"}
      %span Dr. Romeu Krause /PE
    %li.t.s
      %img{ :title => "Bandeira de CE", :src => "images/flags/CE.gif", :alt => "Bandeira de CE"}
      %span Dr. Ronaldo Silva /CE
    %li.t.s
      %img{ :title => "Bandeira do RJ", :src => "images/flags/RJ.gif", :alt => "Bandeira do RJ"}
      %span Dr. Sérgio Delmonte /RJ
    %li.t.s
      %img{ :title => "Bandeira de BA", :src => "images/flags/BA.gif", :alt => "Bandeira de BA"}
      %span Dr. Wilson Vasconcelos Neves Filho /BA

    %li.t.s &nbsp; 
    %li.t.s
      %span Dr. Chang
    %li.t.s
      %span Dr. Jomar Souza
    %li.t.s
      %span Dr. Luís Carlos Peres
    %li.t.s
      %span Dr. Raul Lins
    %li.t.s
      %span Dr. Valmar Martins
