---
layout: default 
title: Comissão organizadora
---
%h1
  %u Comissão Organizadora
%h3 Presidente da SBOT/RN
%p
  %ul
    %li
      %span Hermann Costa Gomes /RN 
%h3 Presidente de Evento
%p
  %ul
    %li
      %span Fábio Faria Romualdo de Oliveira /RN
%h3 Secretário
%p
  %ul
    %li      
      %span Marcelo Rêgo /RN
%h3 Tesoureiro
%p
  %ul
    %li      
      %span Michell Freire /RN
%h1
  %u Comissão Científica
%h3 Coordenador
%p
  %ul
    %li
      %span Alexandre Braz Camargo/RN
    %li
      %span Djalma Carlos /RN
    %li
      %span Élson Miranda /RN
    %li 
      %span Francisco Canindé /RN
    %li 
      %span João Felipe Medeiros Filho /RN
    %li
      %span Luis Fernando Jordão dos Santos /RN
    %li 
      %span Marcelo Rêgo /RN
    %li
      %span Marcio D'angelo /RN
    %li 
      %span Tábata Alcântara /RN
%h3 Convidados Confirmados
%p
  %ul
    %li
      %span Marcelo Mercadante do Amaral /SP
    %li
      %span Romeu Krausse /PE
    %li
      %span Claúdio Santili /SP
    %li 
      %span Hugo Cobra /RJ
    %li
      %span Geraldo Mota /RJ
    %li 
      %span Ney Coutinho Percegueira /RJ
