---
layout: default 
title: Comissão organizadora
---
%h1
  %u Comissão Organizadora
%h3 Presidente da SBOT/RN
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Hermann Costa Gomes /RN 
%h3 Presidente de Evento
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Fábio Faria Romualdo de Oliveira /RN
%h3 Secretário
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}      
      %span Marcelo Rêgo /RN
%h3 Tesoureiro
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}      
      %span Michell Freire /RN
%h1
  %u Comissão Científica
%h3 Coordenador
%p
  %ul
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Alexandre Braz Camargo/RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Djalma Carlos /RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Élson Miranda /RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Francisco Canindé /RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"} 
      %span João Felipe Medeiros Filho /RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Luis Fernando Jordão dos Santos /RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"} 
      %span Marcelo Rêgo /RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"}
      %span Marcio D'angelo /RN
    %li.t.s
      %img{ :title => "Bandeira do RN", :src => "images/states/RN.gif", :alt => "Bandeira do RN"} 
      %span Tábata Alcântara /RN
