---
layout: default
title: Início
layout_type: start_page
---

%h2 O EVENTO

%p
  %strong XIV Congresso Norte Nordeste de Ortopedia de Traumatologia,
  que acontecerá em Natal/RN no período de 22 a 24 de abril de 2010, no Centro de Convenções de Natal, com um público estimado em 600 participantes, proporcionará atualizações e tendências da saúde dos ossos, articulações, ligamentos e músculos, bem como os novos tratamentos clínicos, cirúrgicos e os acompanhamentos dos exercícios para o atleta se manter saudável sem problemas físicos no que diz respeito à área de ortopedia, traumatologia e saúde esportiva.
