---
layout: default
title: Parceiros
---

%h1 Promoção e Realização

%h3 Promoção

%ul
  %li
    %span Sociedade Brasileira de Ortopedia e Traumatologia - SBOT
    %p
      %a(href = "http://www.sbot.org.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/sbot.png" alt = "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT" height = "71px")

%h3 Realização

%ul
  %li
    %span Sociedade Brasileira de Ortopedia e Traumatologia - SBOT - RN
    %p
      %a(href = "http://www.sbot.org.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/sbotrn logo.jpg" alt = "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT/RN" height = "71px")

%h1 Organização

%ul
  %li
    %span Idéias Eventos
    %p
      %a(href = "http://www.ideiaseventos.com.br")
        %img( style="margin-top: 10px;" src = "images/patrocinio/logo-ideias.jpg" alt = "Idéias Eventos" height = "93px")

%h1 Patrocinadores
#patrocinadores
  %ul
    %li
      %span
        %a(href = "http://www.unimednatal.com.br/")
          %img( style="margin-top: 10px;" src = "images/patrocinio/logo-unimed.jpg" alt = "Unimed - Natal" height = "85px") 
        %br
        Unimed - Natal
    %li
      %span
        %a(href = "http://www.biomecanica.com.br/")
          %img#biomecanica( style="margin-top: 10px;" src = "images/patrocinio/logo-biomecanica.gif" alt = "Biomecanica" width = "195px")
        %br
        Biomecanica
    %li
      %span
        %a(href = "http://www.hospitaldocoracao.com.br/")
          %img#hc( style="margin-top: 10px;" src = "images/patrocinio/HC.jpg" alt = "Hospital do Coração" width = "179px")
        %br
        Hospital do Coração
    %li
      %span
        %a(href = "http://www.medicalshopdf.com.br/")
          %img#medicalshop( style="margin-top: 10px;" src = "images/patrocinio/logo-medicalshop.gif" alt = "Medical Shop" width = "160px")
        %br
        Medical Shop
    %li
      %span
        %img#mol( style="margin-top: 10px;" src = "images/patrocinio/logo-mol.jpg" alt = "Mol Mercantil Ortomédica" width = "180px")
        %br
        Mol Mercantil Ortomédica
    %li
      %span
        %img#memorial( style="margin-top: 10px;" src = "images/patrocinio/logo-memorial.jpg" alt = "Hospital Memorial" width = "180px")
        %br
        Hospital Memorial
    %li
      %span
        %a(href = "http://www.saolucasrn.com.br/")
          %img#saolucas( style="margin-top: 10px;" src = "images/patrocinio/logo-saolucas.jpg" alt = "Casa de Saúde São Lucas" width = "180px")
        %br
        Casa de Saúde São Lucas
    %li
      %span
        %a(href = "http://www.unicrednatal.com.br/")
          %img#unicred( style="margin-top: 10px;" src = "images/patrocinio/logo-unicred.jpg" alt = "Unicred" width = "180px")
        %br
        Unicred
    %li
      %span
        %a(href = "http://www.ecomed.com.br/")
          %img#ecomed( style="margin-top: 10px;" src = "images/patrocinio/logo-ecomed.gif" alt = "ecomed" width = "167px") 
        %br
        Ecomed
    %li
      %span
        %a(href = "http://www.ortoplan.com.br/")
          %img#ortoplan( style="margin-top: 10px;" src = "images/patrocinio/logo-ortoplan.gif" alt = "Ortoplan" width = "166px") 
        %br
        Ortoplan
    %li
      %span
        %img#opera( style="margin-top: 10px;" src = "images/patrocinio/opera-logo.gif" alt = "Opera Materiais Cirúrgicos" width = "141px")
        %br
        Opera Materiais Cirúrgico
    %li
      %span
        %a(href = "http://www.sanofi-aventis.com.br/")
          %img#sanofi( style="margin-top: 10px;" src = "images/patrocinio/logo-sanofi.jpg" alt = "Sanofi Aventis" width = "200px")
        %br
        Sanofi Aventis
    %li
      %span
        %a(href = "http://www.fqm.com.br/")
          %img#fqm( style="margin-top: 10px;" src = "images/patrocinio/logo-fqm.jpg" alt = "FQM - Farmoquímica" width = "160px")
        %br
        FQm Farmoquímica
