---
layout: interna
title: Comissão organizadora
---
%h1
  Comissão organizadora
%h3 Presidente
%p
  %ul
    %li
      %span Dr. Fábio Romualdo Farias 
%h3 Vice-Presidente
%p
  %ul
    %li
      %span Dr. Hermann Costa Gomes
%h3 1º Secretário
%p
  %ul
    %li      
      %span Dr. Djalma Carlos de Araujo Junior
%h3 2º Secretário
%p
  %ul
    %li      
      %span Dr. Francisco Canindé da Câmara Junior
%h3 1º Tesoureiro
%p
  %ul
    %li      
      %span Dr. Luis Fernando Jordão dos Santos
