---
layout: default
title: Início
---
#container_header_featured_content
  #container_pre_header_featured_content
    #header.container_12
      #date_where.grid_4
        %span.informacoes.notext
          20 a 22 de Outubro de 2010
          %br
          Centro de Convenções | Natal-RN
      #logo.grid_4
        %h1
          %a.notext{ :href => "/" }
            XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia
      #time_remain.grid_4
        %div.informacoes
          %span.remain_text_flash
            Faltam
          %span#days_remain.remain_days_flash
            0 Dias
          %br
          %span.remain_text_flash
            para o evento
    #featured.container_12
      #the_selected_city.grid_12
        = image_tag "featured_natal.jpg", :class => 'correction', :alt => "Agora é a vez de Natal!"
    #content.container_12
      #the_event.grid_8
        %h2.margin_aligned
          O EVENTO
        %p.margin_aligned
          %strong XIV Congresso Norte Nordeste de Ortopedia de Traumatologia,
          que acontecerá em Natal/RN no período de 22 a 24 de abril de 2010, no Centro de Convenções de Natal, com um público estimado em 600 participantes, proporcionará atualizações e tendências da saúde dos ossos, articulações, ligamentos e músculos, bem como os novos tratamentos clínicos, cirúrgicos e os acompanhamentos dos exercícios para o atleta se manter saudável sem problemas físicos no que diz respeito à área de ortopedia, traumatologia e saúde esportiva.
          %br
      #new_registration.grid_4
        %a.notext.chamada_inscricoes{ :href => "/inscricao" }
          Ainda não se inscreveu? Clique Aqui! E não perca tempo.
