!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', :type => 'text/javascript' }
    - %w(style).each do |css_file|
      = css_tag("#{css_file}.css")
  %body
    = content
